.BodyStyle {
    background-color: #95A8EE;
}

.MainTitleStyle {
    color: white;
    text-transform: uppercase;
    text-align: left;
    font-family: 'HeadlineFont';

}

.Header {

}

.HorizontalList {
    display: flex;
    list-style: none;
}

.HorizontalListItem {
    margin-left: 10px;
}

.PageMiddle {
    display: flex;
    background-color: darkorchid;
    justify-content: space-between;

}

.SingleNews {
    
    background-color: darkred;
    margin: 2%;
    width: 45%;
}

.SingleAd {
    
    background-color: darkseagreen;
    justify-content: start;
    height: 100px;
}

.NewsSection {
    display: flex;
    background-color: darkorange;
    width: 75%;
    flex-wrap: wrap; /* para que cuando no haya espacio para todo el contenido este  */
    justify-content: center;
    margin: 3px;
    height: max-content; /* esto es para que cuando se agreguen mas ads los contenidos de las news section no se estiren para 
    coincidir con la altura de la parte de ads*/
}

.AdsSection {
    background-color: darkolivegreen;
   width: 25%;
    margin: 3px;
}

.Footer {
    display: flex;
}

.FooterElement {
    font-style: italic;
}

.CenteredImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}

.SubtitleStyle {
    text-align: center;
    color: #494A50;
    font-size: medium;
}

.TitleStyle {
    text-align: center;
    color: #727B9D;

    
    border: 300px;
}

.ContentStyle {
    text-justify: newspaper;
}

@font-face {
    font-family: 'HeadlineFont'; /*a name to be used later*/
    src: url('fuentes/Chunk.ttf'); /*URL to font*/
}

.Layout {
    display: flex;
    background-color: bisque;
    justify-content: center;

}

.AdjustedMargin {
    width: 400px;
    margin: 20px;
    padding: 10px;
    background-color: brown;
}

